---
layout: navbar.css
---
<!--
<div id="nav">
</div>
-->
<div id="navwrapper">
  <nav class="main-nav">
  <ul>
    <li><%= link_to 'Home', 'index.html' %></li>
    <li><%= link_to 'Download', 'download.html' %></li>
    <li><%= link_to 'Documentation', 'documentation.html' %></li>
    <!-- <li><%= link_to 'About', 'about.html' %></li> -->
  </ul>
  </nav>
  <div class="clear"></div>
</div>
<!--
<div id="navigation">
  <%= link_to 'Home', 'index.html' %>
  <%= link_to 'Download', 'download.html' %>
  <%= link_to 'Documentation', 'documentation.html' %>
  <%= link_to 'About', 'about.html' %>
</div>
-->
